@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato');

// bulma variables
$family-sans-serif: 'Lato';

// my variables
$break-width: 700px;
$blaze-orange: #FF6600;
$curious-blue:  #429FD7;
$hover-background: #F0F0F0;
$transition-length: 250ms;
$logo-height: 30px;

* {
    transition: $transition-length;
}

.title {
    &:hover {
        color: $blaze-orange;
    }
}

div.field {
    border-radius: 5px;
    padding: .6rem;
     
    &:hover, &:focus-within {
        background-color: $hover-background;
    }
}

#top-container {
    @media screen and (min-width: $break-width) {
        width: $break-width;
      }
}

@import "./node_modules/bulma/bulma.sass";

.button {
    .has-addons &:hover {
        background-color: $hover-background;
    }
    &#submit:hover {
        background-color: $curious-blue;
        color: $white-ter;
    }
    
}


